language: java
cache:
  directories:
  - $HOME/.m2
jdk:
  - oraclejdk8
env:
  global:
    - buildNumber: $TRAVIS_BUILD_NUMBER
deploy:
  provider: releases
  api_key: $apiKey
  file_glob: true
  file: target/spring-ui.*.jar
  skip_cleanup: true
  on:
    tags: false